.site-main{
  background-color: rgb(27, 35, 48);
  background-image: url(../../img/Path.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 17px) calc(-50% - 4px);
  padding-bottom: 300px;
}